.transition-width {
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
  transition: width 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.transition-close {
  width: 150px;
  max-height: 4vh;
  overflow: hidden;
  transition: width 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.showTechs {
  opacity: 1;
  visibility: visible;
}

.hideTechs {
  opacity: 0;
  visibility: hidden;
}
