:root {
  --black-color: #f6ecff;
  --orange-color: #f87b0e;
  --white-color: #0e0e0e;
  --project-card-shadow-dark: rgba(149, 157, 165, 0.2);
}

body {
  background-color: var(--black-color);
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  cursor: none;
  scroll-behavior: smooth;
  transition-duration: 1s;
}

.rightHome {
  background: url(./assets/svg.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.blink {
  animation: blink-cursor 0.75s step-end infinite;
}

.navbar-scrolled {
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    height 0.5s ease-in-out;

  height: 10vh;
}

.navbar-scrolled.scrolled {
  background-color: var(--black-color);
  box-shadow: 0 0 1px var(--white-color);
  height: 7vh;
}

.project-hover {
  background: rgba(219, 102, 35, 0.8);
}

.heartBeat {
  animation: heartBeat 2s infinite;
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--orange-color);
  }
}

@keyframes heartBeat {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
