:root {
  --black-color: #0e0e0e;
  --orange-color: #fcb61e;
  --white-color: #f6ecff;
}

body {
  background-color: var(--black-color);
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}
